html {
    height: 100%;
    
    body {
	min-height: 100%;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    @media screen and (max-width: 760px) {
	position: relative;
    }
}
